 h1, h2 {
        text-align: center;
      }
     h1 {
        margin-top: 185px;
    }

    h1 {
        font-size: 46px
    }
    header{
        
        background-color:rgb(255, 255, 255)85);
        color: white;
        padding: 20px 0;
        text-align: center;
        
        
    }
    .icon-list {
  list-style: none;
  padding: 0;
  font-size: 17px
  display: flex; align-items: center; a
  justify-content: space-between;
  margin: 0 12px;
  font-size: 20px
  
  
}

.icon-list li {
  display: inline-block;
  margin: 0 22px;
}
 footer {
          background-color: #ffffff; 
          color: blue; 
          padding: 20px; 
          text-align: center;
          position: fixed;
          bottom: 0;
            width: 100%;
      }
      </style> 
      
      
      
      <footer>
        <h2>Contact Details</h2>
        <p>Email: contact@example.com</p>
        <p>Phone: +1 (555) 123-4567</p>

.icon-list li a {
  color: white;
  text-decoration: none;
}
